.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 1.2em 8%;
}

.task_column {
  background-color: aquamarine;
  margin: 1.2em;
  width: 33.33%;
}
